//====================
// Products Page Styles

.products {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 100vh;
}

//===============================
// Header styles

.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.products-header-text {
    display: flex;
    flex-direction: column;
}

.products-header-text h1 {
    margin: 0;
}

.products-header-text p {
    margin: 0;
    color: var(--color-text-secondary);
}

//===============================
//Add product button style

.add-product-button {
  display: flex;
  gap: 14px;
  padding-top: 20px;
}

.add-product-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  border: 1.8px solid var(--color-text);
  border-radius: 10px;
  background-color: var(--background);
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.add-product-button img {
  width: 25px;
  height: 25px;
}

.add-product-button:hover {
  background-color: var(--color-primary-hover-btn);
  color: var(--color-bg);
  border: 1.8px solid var(--color-primary-hover-btn);
    img {
      filter: brightness(0) invert(1);
    }
}

//===============================
// filter styles

.products-filter {
  padding: 24px;
  margin-bottom: 30px;

  background: var(--color-card-bg);
  border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.products-filter h2 {
  margin: 0 0 20px;

  font-size: 20px;
  font-weight: 700;
}

.products-filter-controls {
  display: grid;
  grid-template-columns: auto minmax(180px, 1fr)
                         auto minmax(180px, 1fr)
                         auto minmax(180px, 1fr);

  align-items: center;
  gap: 12px;
}

.products-filter-controls label {
  font-size: 14px;
  font-weight: 600;
}

.products-filter-controls input,
.products-filter-controls select {
  width: 100%;
  height: 42px;

  padding: 0 12px;

  border: 1px solid var(--color-border);
  border-radius: 7px;

  background: var(--color-bg);
  color: var(--color-text);

  font-family: inherit;
  font-size: 14px;
}

.products-filter-controls input:focus,
.products-filter-controls select:focus {
  outline: none;
  border-color: var(--text-secondary);
}
